<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 HTML Template by Colorlib</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/staff.css" />

</head>

<body>

    <div id="notfound">
        <div class="notfound-bg">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2 class="mt-2">PAGE NOT FOUND</h2>
            <p>Trang bạn đang yêu cầu cần có tài khoản để cấp quyền. Bạn vui lòng trở về trang chủ để hoàn tất thủ tục
                đăng nhập!
            </p>
            <a href="./">Trang Chủ</a>
            <div class="notfound-social">
                <a href="https://www.facebook.com/devnguyen175"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/dev175_js/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
            <h6 class="mt-4 mb-0">(Liên hệ với nhà phát triển khi gặp sự cố về trang web)</h6>
        </div>
    </div>

</body>

</html>