@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body,
input {
  font-family: be vietnam pro, sans-serif; }

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #ff8c6b;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27); }

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out; }

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s; }

form.sign-up-form {
  opacity: 0;
  pointer-events: none; }

.logo {
  display: flex;
  align-items: center; }

.logo img {
  width: 27px;
  margin-right: 0.3rem; }

.logo h4 {
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  color: #151111; }

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111; }

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline; }

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s; }

.toggle:hover {
  color: #8371fd; }

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem; }

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s; }

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s; }

.input-field.active {
  border-bottom-color: #151111; }

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px; }

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s; }

.sign-btn:hover {
  background-color: #8371fd; }

.text {
  color: #bbb;
  font-size: 0.7rem; }

.text a {
  color: #bbb;
  transition: 0.3s; }

.text a:hover {
  color: #8371fd; }

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none; }

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all; }

main.sign-up-mode .forms-wrap {
  left: 55%; }

main.sign-up-mode .carousel {
  left: 0%; }

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #ffe0d2;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out; }

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s; }

.img-1 {
  transform: translate(0, -50px); }

.img-2 {
  transform: scale(0.4, 0.5); }

.img-3 {
  transform: scale(0.3) rotate(-20deg); }

.image.show {
  opacity: 1;
  transform: none; }

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem; }

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s; }

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem; }

.bullets {
  display: flex;
  align-items: center;
  justify-content: center; }

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s; }

.bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem; }

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden; }
  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem; }
  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto; }
  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear; }
  .heading {
    margin: 2rem 0; }
  form.sign-up-form {
    transform: translateX(100%); }
  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%); }
  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%); }
  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex; }
  .images-wrapper {
    display: none; }
  .text-slider {
    width: 100%; } }

@media (max-width: 530px) {
  main {
    padding: 1rem; }
  .box {
    border-radius: 2rem; }
  .inner-box {
    padding: 1rem; }
  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem; }
  .text-wrap {
    margin-bottom: 1rem; }
  .text-group h2 {
    font-size: 1.2rem; }
  form {
    padding: 1rem 2rem 1.5rem; } }

#notfound {
  position: relative;
  height: 100vh; }

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#notfound .notfound-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

#notfound .notfound-bg > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eee; }

#notfound .notfound-bg > div:nth-child(1) {
  left: 20%; }

#notfound .notfound-bg > div:nth-child(2) {
  left: 40%; }

#notfound .notfound-bg > div:nth-child(3) {
  left: 60%; }

#notfound .notfound-bg > div:nth-child(4) {
  left: 80%; }

#notfound .notfound-bg > div:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -0.5px;
  -webkit-transform: translateY(-160px);
  -ms-transform: translateY(-160px);
  transform: translateY(-160px);
  height: 160px;
  width: 2px;
  background-color: #00ffc0; }

@-webkit-keyframes drop {
  90% {
    height: 20px; }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px)); } }

@keyframes drop {
  90% {
    height: 20px; }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px)); } }

#notfound .notfound-bg > div:nth-child(1):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#notfound .notfound-bg > div:nth-child(2):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

#notfound .notfound-bg > div:nth-child(3):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

#notfound .notfound-bg > div:nth-child(4):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center; }

.notfound .notfound-404 {
  height: 210px;
  line-height: 210px; }

.notfound .notfound-404 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 188px;
  font-weight: 700;
  margin: 0px;
  text-shadow: 4px 4px 0px #00ffc0; }

.notfound h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.6px; }

.notfound p {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px; }

.notfound a {
  font-family: 'Lato', sans-serif;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
  box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.notfound a:hover {
  background-color: #00ffc0;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
  box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0; }

.notfound-social {
  margin-top: 35px; }

.notfound-social > a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin: 0px 5px; }

.notfound-social > a:hover {
  background-color: #00ffc0;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
  box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0; }

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px; }
  .notfound .notfound-404 h1 {
    font-size: 122px; }
  .notfound h2 {
    font-size: 26px; } }

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #18ca75;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 17px;
  white-space: nowrap;
  display: flex;
  align-items: center; }

#toast #img {
  width: 0px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff; }

#toast #desc {
  color: #fff;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: be vietnam pro, sans-serif;
  font-size: 12px; }

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s; }

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0; }
  to {
    top: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    top: 0;
    opacity: 0; }
  to {
    top: 30px;
    opacity: 1; } }

@-webkit-keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1; }
  to {
    top: 60px;
    opacity: 0; } }

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1; }
  to {
    top: 60px;
    opacity: 0; } }
